### Q1: Create your own class to perform a list search operation

In [9]:
class listsearch:
    def __init__(self, name, roll):
        self.name = name
        self.roll = roll

list = []

list.append(listsearch('ABC', 2))
list.append(listsearch('XYZ', 36))
list.append(listsearch('MNK', 44))
list.append(listsearch('KLY', 67))

#for obj in list:
#    print(obj.name, obj.roll, sep=' ')


print(list[0].name)
print(list[1].name)
print(list[2].name)
print(list[3].name)

ABC
XYZ
MNK
KLY

In [21]:
class listsearch:
    def __init__(self, mylist):
        self.mylist = mylist
        
    def searchelement(self, serachval):
        if serachval in self.mylist:
            print("exist")
        else:
            print("not exist")
    

list = [10,20,49,278,18,90,56,8]

obj = listsearch(list)

element = 10
obj.searchelement(element)

element = 30
obj.searchelement(30)

In [27]:
class listsearch:       
    def searchelement(mylist,serachval):
        if serachval in mylist:
            print("exist")
        else:
            print("not exist")
    

list = [10,20,49,278,18,90,56,8]
element = 10

listsearch.searchelement(list,element)

exist

### Q2 Create a class for dict new element addition

In [32]:
class my_dictionary(dict):
    def __init__(self):
        self = dict()

    def add(self, key, value):
        self[key] = value

dict_obj = my_dictionary()
dict_obj.add(1, 'Saurabh')
dict_obj.add(2, 'Gupta')

print(dict_obj)

{1: 'Saurabh', 2: 'Gupta'}

In [33]:
dict_obj.add(3, 'Saurabh')
dict_obj.add(4, 'Gupta')

print(dict_obj)

{1: 'Saurabh', 2: 'Gupta', 3: 'Saurabh', 4: 'Gupta'}

In [34]:
dict_obj.add(3, 'Saurabh')
dict_obj.add(4, 'Gupta')

print(dict_obj)

{1: 'Saurabh', 2: 'Gupta', 3: 'Saurabh', 4: 'Gupta'}

### Q3 Create a class for tuple data extraction

In [42]:
class my_tuple:
    def __init__(self,tuplelements):
        self.tuplelements = tuplelements

    def dataextract(self):
        for x in self.tuplelements:
            print(x)


Tuple1 = (0, 1, 2, 3)
tup_obj1 = my_tuple(Tuple1)
tup_obj1.dataextract()

Tuple2 = ('Geeks', 'For', 'Geeks')
tup_obj2 = my_tuple(Tuple2)
tup_obj2.dataextract()

0
1
2
3
Geeks
For
Geeks

### Q4 Create a class for insert, update, and delete in mysql

In [1]:
import mysql.connector

In [69]:
class MySQLUtil():
    
    def __init__(self,host ="localhost", user="root", psw="", db_name="testdb", charset='utf8', debug=False):
        ''' Intialize a Database object and connect to the database '''
        self.host = host
        self.user=user
        self.psw=psw
        self.db_name=db_name
        self.charset=charset
        self.debug = debug
        self.conn = None
        
        try:
            self.conn = self.get_connector()
        except mysql.connector.Error as err:
            print(str(err))
            print('Error connecting to the host.')

        if self.debug:
            print('Connected to host.')
        self.cursor = self.conn.cursor()
        
        
    def get_connector(self):
        ''' Connect to the database and return the connector '''
        if self.debug:
            print('Connecting to database...')
        # If there is an active connection ,return it
        if isinstance(self.conn, mysql.connector.connection.MySQLConnection):
            if self.debug:
                print('Already connected!')
            return self.conn
        return mysql.connector.connect(user = self.user, password = self.psw, host = self.host, database = self.db_name)
    
    
    def get_results(self, query):
        ''' Return all the results from a query '''
        try:
            self.cursor.execute(query)
        except InternalError:
            if self.debug:
                print('Error')
            return []
        return self.cursor.fetchall()
    
    def close_connection(self):
        ''' Close the connection '''
        self.conn.close()
        if self.debug:
            print('Connection closed.')
            
    def insert_upd_query(self, query):
        ''' Insert query '''
        try:
            self.cursor.execute(query)
            self.commit()
        except Exception(e):
            if self.debug:
                print('Error: %s' % str(e))
                self.rollback()
                return 0
            
        return self.cursor.rowcount
    
    def commit(self):
        ''' Commit changes to the DB '''
        if self.debug:
            print('Commiting changes...')
        self.conn.commit()


    def rollback(self):
        ''' Rollback changes in case of errors of any kind '''
        if self.debug:
            print('Rolling back...')
        self.conn.rollback()

In [70]:
object1 = MySQLUtil()

qry = "SELECT `event_type`,`value`,`time` FROM `testdb`.`events` LIMIT 0, 1000";
myresult = object1.get_results(qry)

for x in myresult:
    print(x)

(2, 5, datetime.datetime(2015, 5, 9, 12, 42))
(4, -42, datetime.datetime(2015, 5, 9, 13, 19, 57))
(2, 2, datetime.datetime(2015, 5, 9, 14, 48, 39))
(2, 7, datetime.datetime(2015, 5, 9, 13, 54, 39))
(3, 16, datetime.datetime(2015, 5, 9, 13, 19, 57))
(3, 20, datetime.datetime(2015, 5, 9, 15, 1, 9))
(1, 1, datetime.datetime(2023, 1, 19, 10, 46, 6))
(1, 1, datetime.datetime(2023, 1, 19, 10, 46, 35))
(4, 1, datetime.datetime(2023, 1, 19, 10, 49, 57))
(4, 3, datetime.datetime(2023, 1, 19, 10, 50, 55))
(4, 3, datetime.datetime(2023, 1, 19, 10, 52, 24))
(4, 3, datetime.datetime(2023, 1, 19, 10, 52, 28))
(4, 3, datetime.datetime(2023, 1, 19, 10, 54, 49))
(4, 3, datetime.datetime(2023, 1, 19, 10, 56, 37))
(4, 3, datetime.datetime(2023, 1, 19, 10, 56, 46))
(4, 3, datetime.datetime(2023, 1, 19, 10, 56, 55))
(4, 3, datetime.datetime(2023, 1, 19, 10, 57, 15))
(4, 3, datetime.datetime(2023, 1, 19, 10, 58, 34))
(4, 3, datetime.datetime(2023, 1, 19, 10, 58, 48))

In [71]:
object1.close_connection()

In [72]:
object2 = MySQLUtil()

In [75]:
qry = "INSERT INTO  `events` (`event_type`,`value`,`time`) VALUES ('4', '3',NOW())";
object2.insert_upd_query(qry)

1

In [76]:
qry = "UPDATE `events` SET `event_type`=1,`value`=4,`time`=NOW() WHERE event_type=4";
object2.insert_upd_query(qry)

15

In [77]:
qry = "DELETE FROM  `events` WHERE event_type=1";
object2.insert_upd_query(qry)

15

In [78]:
qry = "DELETE FROM  `events` WHERE event_type=1";
object2.insert_upd_query(qry)

0

### Q5 Create a class for insert, update, and delete in MONGO DB

In [79]:
import pymongo
import urllib

Database(MongoClient(host=['cluster0-shard-00-01.tmf3i.mongodb.net:27017', 'cluster0-shard-00-00.tmf3i.mongodb.net:27017', 'cluster0-shard-00-02.tmf3i.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-7cdeo3-shard-0', tls=True), 'test')

In [191]:
class mongodbUtil:
    def __init__(self,dbname):
        password = urllib.parse.quote_plus('Test@123')        
        self.client = pymongo.MongoClient("mongodb+srv://mongodbUser:%s@cluster0.tmf3i.mongodb.net/?retryWrites=true&w=majority"% (password))
        self.db = self.client[dbname]
        print("connect")
    
    def get_collection(self, collection_name):
        return self.db[collection_name]
    
    def insert_one(self,collection_name, data):
        new_row = self.db[collection_name].insert_one(data)
        created_row = self.db[collection_name].find_one({"_id": new_row.inserted_id})
        return created_row
    
    def update_one(self,collection_name, data, id: int):
        updateqry = {k: v for k, v in data.items() if v is not None}
        print(updateqry)
        if len(updateqry) >= 1:
            update_result = self.db[collection_name].update_one({"_id": id}, {"$set": updateqry})
            if update_result.modified_count == 0:
                return 0

        if (
            existing_row := self.db[collection_name].find_one({"_id": id})
        ) is not None:
            return existing_row
    
            
        
    def delete_one(self,collection_name, id: int):
        delete_result = self.db[collection_name].delete_one({"_id": id})

        if delete_result.deleted_count == 1:
            return delete_result

        return "No ID Found"
    
    
    def shutdown_db_client(self):
        self.client.close()

In [192]:
obj = mongodbUtil('mydb')

connect

In [185]:


col1 = obj.get_collection('users_collections')

for i in col1.find():
    print(i)

{'_id': ObjectId('63a169bb2fdfad640d98675a'), 'id': 1, 'name': 'saurabh', 'emailid': 'test@test.com', 'product': ['one product', 'two product', 'three product', 'four product']}
{'_id': 1, 'id': 2, 'name': 'saurabh1', 'emailid': 'test@test.com', 'product': ['one product', 'two product', 'three product', 'four product'], 'qty': 50}
{'_id': 201, 'id': 101, 'name': 'saurabh1', 'emailid': 'test@test.com', 'product': ['one product', 'two product', 'three product', 'four product'], 'qty': 50}
{'_id': 202, 'id': 101, 'name': 'saurabh1', 'emailid': 'test@test.com', 'product': ['one product', 'two product', 'three product', 'four product'], 'qty': 50}
{'_id': 2011, 'id': 101, 'name': 'saurabh1', 'emailid': 'test@test.com', 'product': ['one product', 'two product', 'three product', 'four product'], 'qty': 50}
{'_id': 301, 'id': 301, 'name': 'saurabh1', 'emailid': 'test@test.com', 'product': ['one product', 'two product', 'three product', 'four product'], 'qty': 50}
{'_id': 401, 'id': 401, 'name': 'saurabh1', 'emailid': 'test@test.com', 'product': ['one product', 'two product', 'three product', 'four product'], 'qty': 50}
{'_id': 501, 'id': 501, 'name': 'saurabh1', 'emailid': 'test@test.com', 'product': ['one product', 'two product', 'three product', 'four product'], 'qty': 50}
{'_id': 601, 'id': 701, 'name': 'Gupta', 'emailid': 'gupta@test.com', 'product': ['one 1', 'two 2', 'three 3', 'four 4'], 'qty': 100}

In [186]:
dict1 = {
    "_id":801,
    "id":801,
    "name":"saurabh1",
    "emailid":"test@test.com",
    "product":["one product","two product","three product","four product"],
    "qty": 50
}

newrow = obj.insert_one('users_collections',dict1)
print(newrow)

{'_id': 801, 'id': 801, 'name': 'saurabh1', 'emailid': 'test@test.com', 'product': ['one product', 'two product', 'three product', 'four product'], 'qty': 50}

In [188]:
dict1 = {
    "id":901,
    "name":"Gupta",
    "emailid":"gupta@test.com",
    "product":["one 1","two 2","three 3","four 4"],
    "qty": 100
}

newrow = obj.update_one('users_collections',dict1, 801)
print(newrow)

{'id': 901, 'name': 'Gupta', 'emailid': 'gupta@test.com', 'product': ['one 1', 'two 2', 'three 3', 'four 4'], 'qty': 100}
0

In [193]:
delresult = obj.delete_one('users_collections',202)
print(delresult)

<pymongo.results.DeleteResult object at 0x000002AD465C69A0>