# Python Basic Assignment 20

### 1.	Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [18]:
test1 = 'This is a test of the emergency text system,'
file = open('test.txt','w')
file.write(test1)
file.close()

### 2.	Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [19]:
file2 = open('test.txt','r')
test2 = file2.readline()
test2

'This is a test of the emergency text system,'

In [20]:
if test1==test2:
    print('Both are same')

Both are same

### 3.	Create a CSV file called books.csv by using these lines:

 title,author,year
 
The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [21]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

### 4.	Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [44]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('DROP table IF EXISTS books; ')
c.execute('create table books (title varchar(20),author varchar(20), year int)')

conn.commit()

In [45]:

c.execute("""
    INSERT INTO books VALUES
        ('Saurabhs Python', 'Saurabh', 2022),('Saurabhs Python1', 'Saurabh1', 2022),('Saurabhs Python2', 'Saurabh2', 2022)
""")

conn.commit()

In [46]:
cur = conn.cursor()

# The result of a "cursor.execute" can be iterated over by row
for row in cur.execute('SELECT * FROM books;'):
    print(row)
# Be sure to close the connection
conn.close()

('Saurabhs Python', 'Saurabh', 2022)
('Saurabhs Python1', 'Saurabh1', 2022)
('Saurabhs Python2', 'Saurabh2', 2022)

### 5.	Read books.csv and insert its data into the book table.

In [50]:
import pandas as pd

In [51]:
read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

In [52]:
conn = sqlite3.connect('books.db')
read_books.to_sql('books', conn, if_exists='append', index = False)

In [53]:
cur = conn.cursor()

# The result of a "cursor.execute" can be iterated over by row
for row in cur.execute('SELECT * FROM books;'):
    print(row)
# Be sure to close the connection
conn.close()

('Saurabhs Python', 'Saurabh', 2022)
('Saurabhs Python1', 'Saurabh1', 2022)
('Saurabhs Python2', 'Saurabh2', 2022)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

### 6.	Select and print the title column from the book table in alphabetical order.

In [55]:
conn = sqlite3.connect('books.db')
cur = conn.cursor()
cur.execute('select title from books order by title asc')
print(cur.fetchall())
conn.close()

[('Perdido Street Station',), ('Saurabhs Python',), ('Saurabhs Python1',), ('Saurabhs Python2',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

### 7.	From the book table, select and print all columns in the order of publication.

In [56]:
conn = sqlite3.connect('books.db')
cur = conn.cursor()
cur.execute('select title, author,year from books order by year')
df = pd.DataFrame(cur.fetchall(), columns=['title','author','year'])
conn.close()
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007
5                Saurabhs Python          Saurabh  2022
6               Saurabhs Python1         Saurabh1  2022
7               Saurabhs Python2         Saurabh2  2022

### 8.	Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [57]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('Saurabhs Python', 'Saurabh', 2022)
('Saurabhs Python1', 'Saurabh1', 2022)
('Saurabhs Python2', 'Saurabh2', 2022)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

### 9.	Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [13]:
# !pip install redis

Requirement already satisfied: redis in c:\users\lenovo\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\lenovo\anaconda3\lib\site-packages (from redis) (4.0.2)

In [6]:
import redis

# create the redis connection
r_conn = redis.Redis( host='127.0.0.1', port=6379)

# create a key-value pair with key as name and value as "amalgjose"
r_conn.set('name', 'amalgjose')

# retrieve the value by using the key
value = r_conn.get('name')
print("Value from Redis -->", value)

Value from Redis --> b'amalgjose'

In [29]:
import hashlib
#data = b"{'count': '1', 'name': 'Fester Bestertester'}"

hashdata = hashlib.sha256(data).hexdigest()
r_conn.set('test', 'count', 1)
r_conn.get('test')

b'count'

### 10.	Increment the count field of test and print it.

In [30]:
conn.hincrby('test','count', 3)

NameError: name 'conn' is not defined